# .gitignore basico 
# (descomentar # do .env e do .gitignore)

# macOS
.DS_Store

# Variáveis de ambiente
#.env

# WhatsApp Web session/cache
.wwebjs_auth/
.wwebjs_cache/

# Git
#.gitignore

node_modules/